 body{
                background-repeat:space;
                
              background-size:100%;
              background-color: wheat;

            }
            table{
                border: 1px solid;
                border-collapse: collapse;
                width: 10%;
                height: 20%;
                background-color: black;
            }
            button{
                width: 43px;
                height: 27px;
                
            }
            label{
                height: 100%;
                text-align: right;

            }
            h1{
                text-align: center;
                color: black;
            }
            td,tr{
                text-align: center;
            }
#display{
    background-color: lightblue;
text-align: right;
height: 35;
}