body{
    background-color: lightblue;
}
h1{
    margin-top: 1%;
    text-align: center;
    font-size:48pt;
    color: white;
}
table{
    width: 40%;
    height: auto;
  
}
tr{
    border: 1px solid;
}
td{
    width:25%;
    height:40px;
}
.in{
   background-color: rgb(25, 115, 199);
   border: 0.5px solid black;
  border-radius: 5px;
  width: 100%;
  height: 50%;
}
.imgDel{
    width: 100%;
    height: 100%;
}


.Activity{
    background-color: white;
    width: auto;
}

div{
    margin-bottom: 2%;
}
button{
    width: 35%;
    height: 100%;
    border: none;
    background-color: lightblue;
}
.Checkbox{
    background-color: white;
    width: 5%;
    height: 100%;
}
input{
    width: 95%;
}

