.display{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 600px;
}
.disp-item{
    border: 1px solid black;
}

#griglia{
	width: 550px;
	height: 550px;
}

.cella {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #ccc;
    cursor: pointer;
	text-align: center;
	margin: 1px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 32px;
	position: relative;
	vertical-align: middle;
}
.cella i {
	position: absolute;
	transform: translate(50%,-50%);
	top: 50%;
	right: 50%;
}
.cella:hover {
	background-color: #aaa;
}
.aperta {
	background-color: #fff;
}
.mina {
	background-color: rgb(255,0,0);
	color: #000;
}